---
import type { Land } from "../../../../model/Land";
import {
  generateImageSrc,
  generateImageSrcset,
} from "../../../../scripts/imageSrcHelper";
import Badge from "../../../ui/Badge.astro";

interface Props {
  land: Land;
  className?: string;
  attributes?: any;
}

const { land, className, attributes } = Astro.props;

// Prepare responsive image srcset and sizes
const imgSrc = generateImageSrc(land.images?.[0].url, 800, 500);
const imgSizes = "(max-width: 1024px) 500px, 350px"; // tells browser what img sizes are expected at different breakpoints
const imgSrcSet = generateImageSrcset(land.images?.[0].url, [200, 400, 800]); // comma separated list of image urls with different sizes => size can be x2 of the browser size for retina displays
---

<div
  {...attributes}
  class=` md:px-6 md:pb-10 xl:px-3 h-auto ${className ? className : ""} overflow-visible`
>
  <a
    href={`/${land.slug}`}
    class="bg-white rounded-md overflow-hidden flex flex-col h-full max-w-md mx-auto md:max-w-lg tabbable"
  >
    <div class="w-[120%] h-48 md:h-56 xl:h-64 portrait:md:h-80 relative">
      <img
        loading="lazy"
        alt={land.title}
        srcset={imgSrcSet}
        sizes={imgSizes}
        src={imgSrc}
        data-swiper-parallax="10"
        class="w-full h-full object-cover object-right -ml-[10%]"
      />
      {
        land.tag && (
          <Badge className="absolute bottom-0 left-0 mb-3.5 ml-4 xl:ml-6 xl:mb-5">
            {land.tag}
          </Badge>
        )
      }
    </div>
    <div
      class="py-4 px-4 xl:py-6 xl:px-6 w-full flex flex-col self-stretch flex-1 justify-between"
    >
      <div>
        <span
          class="text-base md:text-xl font-semibold tracking-tight leading-tight block"
          >{land.title}</span
        >
        <p class="text-xs md:text-sm font-normal not-italic opacity-80">
          {land.briefDescription || land.address}
        </p>
      </div>

      <span class="block mt-6" data-swiper-parallax="10">
        <span
          class="text-[--color-accent] text-base font-medium xl:font-normal xl:text-xl"
        >
          <span
            class="text-2xl md:text-3xl xl:text-4xl font-normal md:font-light tracking-tighter leading-tight"
            >{(land?.price || 0) / 1000000000}
          </span> tỷ
        </span>
        {
          land?.area && (
            <span class="opacity-90 tracking-tighter text-sm">
              <span class=" bg-[--color-text] w-[1px] h-5 xl:h-7 inline-block -mb-1 ml-1 mr-1.5 opacity-20" />
              {land.area.toLocaleString().replace(/,/g, " ")} m&sup2
            </span>
          )
        }
      </span>
    </div>
  </a>
</div>

<!-- Render card border if border attribute is set up to true -->
<style>
  div[border="true"] a {
    border: 1px solid var(--color-accent-lighter);
  }
</style>
