---
import Layout from "../layouts/Layout.astro";
import MapView from "../components/map/MapView.astro";
import LandSearchApp from "../components/sections/land-search/LandSearchApp";

import dataModel from "../model/ContentfulModel";

// Load all lands data (there will be 20 lands at max so no need for pagination)
const lands = await dataModel.getAllLands();

// Calculate max price and size to configure search filter limits
const maxLandPrice = Math.max(...lands.map((land) => land.price!));
const maxLandSize = Math.max(...lands.map((land) => land.area!));

const title = "VietLand - tìm mảnh đất tốt đẹp nhất";
---

<Layout pageTitle={title}>
  <div class="flex" data-scroll-hide-section>
    <div
      class="pt-14 pb-6 h-screen bg-gradient-to-t from-[--color-secondary-lighter] flex flex-1"
    >
      <LandSearchApp
        client:only="react"
        preloadedLands={lands}
        maxPrice={maxLandPrice}
        maxSize={maxLandSize}
      />
    </div>

    <div
      class="bg-white shadow-sm h-screen w-[37vw] overflow-hidden hidden lg:block"
      id="resizable-map-wrapper"
    >
      <MapView
        locations={lands
          .filter((land) => land.coords)
          .map((land) => ({
            title: land.title || "Đất trống",
            coordinates: {
              lat: land.coords ? land.coords[0] : 0,
              lng: land.coords ? land.coords[1] : 0,
            },
          }))}
        fullHeight={true}
      />
    </div>
  </div>
</Layout>
