---
import Layout from "../layouts/Layout.astro";
import MapView from "../components/map/MapView.astro";
import LandSearchApp from "../components/sections/land-search/LandSearchApp";

import dataModel from "../model/ContentfulModel";

// Load all lands data (there will be 20 lands at max so no need for pagination)
const lands = await dataModel.getAllLands();

// Calculate max price and size to configure search filter limits
const maxLandPrice = Math.max(...lands.map((land) => land.price!));
const maxLandSize = Math.max(...lands.map((land) => land.area!));

const title = "VietLand - tìm mảnh đất tốt đẹp nhất";
---

<Layout pageTitle={title}>
  <div
    class="flex min-h-screen"
    data-scroll-hide-section
    id="dynamic-lands-search"
  >
    <div
      class="4xl:bg-[--color-secondary-lighter] flex flex-1 flex-col bg-gradient-to-t from-[--color-secondary-lighter] pt-10 md:flex-row lg:h-screen"
    >
      <LandSearchApp
        client:only="react"
        preloadedLands={lands}
        maxPrice={maxLandPrice}
        maxSize={maxLandSize}
      />
    </div>

    <div
      class="z-0 h-screen w-[37vw] overflow-hidden bg-white shadow-sm [--top-height:6rem] max-lg:invisible max-lg:absolute max-lg:mt-[var(--top-height)] max-lg:h-[calc(100vh-var(--top-height))] max-lg:opacity-0 max-md:w-full md:max-lg:left-56 md:max-lg:w-[calc(100vw-14rem)] lg:static lg:block"
      id="resizable-map-wrapper"
    >
      <MapView
        locations={lands
          .filter((land) => land.coords)
          .map((land) => ({
            title: land.title || "Đất trống",
            coordinates: {
              lat: land.coords ? land.coords[0] : 0,
              lng: land.coords ? land.coords[1] : 0,
            },
          }))}
        fullHeight={true}
      />
    </div>
  </div>
</Layout>
